<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t - %F:%L] %m%n"/>
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat6/logs/gps_schedule.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t - %F:%L] %m%n"/>
		</layout>
	</appender>
	
	<appender name="message" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat6/logs/message.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t - %F:%L] %m%n"/>
		</layout>
	</appender>

	<logger name="java.sql.Connection" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="ERROR"/>
	</logger>

	<logger name="com.yhd.gps.schedule" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="fileAppender"/>
	</logger>
	<logger name="com.yhd.gps.busyservice.service.impl.JDBookSyncServiceImpl" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="fileAppender"/>
	</logger>
	<logger name="com.yhd.schedule" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="fileAppender"/>
	</logger>
	<logger name="com.yhd.gps.schedule.job" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="fileAppender"/>
	</logger>
	<logger name="com.yhd.gps.busyservice.service.impl" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="fileAppender"/>
	</logger>
	<logger name="com.yhd.gps.busyservice.msg" additivity="false">
		<level value="INFO" />
		<appender-ref ref="message" />
	</logger>
	
	<root>
		<level value="ERROR"/>
		<appender-ref ref="console"/>
	</root>
</log4j:configuration>