<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="springBeanUtil" class="com.yhd.gps.schedule.common.SpringBeanUtil"/>

	<bean id="yccPropertyConfigurer" class="com.yihaodian.configcentre.client.utils.YccGlobalPropertyConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="locations">
			<list>
				<value>dataSource_product_master.properties</value>
				<value>dataSource_mysql_gps.properties</value>
				<value>dataSource_mysql_gps_log.properties</value>
				<value>ycache.xml</value>
				<value>hedwig.properties</value>
				<value>quartz.properties</value>
				<value>sharding.properties</value>
			</list>
		</property>
		<property name="poolId" value="yihaodian/gps-schedule"/>
	</bean>

	<!-- bean id="busystockClientConfigurerPlugin" name="busystockClientConfigurerPlugin" class="com.yihaodian.front.busystock.client.BusystockClientConfigurerPlugin">
		<property name="clientAppLevel" value="bs1"/>
		<property name="clientAppType" value="gps-schedule"/>
	</bean-->
	
	<bean id="commandExecutor" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg value="10" index="0"/>
		<constructor-arg value="20" index="1"/>
		<constructor-arg value="60" index="2"/>
		<constructor-arg value="SECONDS" index="3" type="java.util.concurrent.TimeUnit"/>
		<constructor-arg index="4">
			<bean class="java.util.concurrent.LinkedBlockingQueue">
				<constructor-arg value="5000"/>
			</bean>
		</constructor-arg>
		<constructor-arg index="5">
			<bean class="java.util.concurrent.ThreadPoolExecutor$DiscardOldestPolicy"/>
		</constructor-arg>
	</bean>

	<bean class="com.yhd.gps.schedule.common.ExecutorManager" lazy-init="false"/>
	
	<import resource="classpath:com/yhd/gps/config/spring/applicationContext-busy-db.xml"/>
	<import resource="classpath:com/yhd/gps/schedule/config/spring/applicationContext-gps-schedule-dao.xml"/>
	<import resource="classpath:com/yhd/gps/schedule/config/spring/applicationContext-gps-schedule-transaction.xml"/>
	
	<bean id="busyProductPromotionService" class="com.yhd.gps.busyservice.service.impl.BusyProductPromotionServiceImpl">
		<property name="busyProductPromotionDao" ref="busyProductPromotionDao"/>
		<property name="busyGpsPromotionDao" ref="busyGpsPromotionDao"/>
	</bean>
	
	<bean id="dataProcessScannerService" class="com.yhd.gps.busyservice.service.impl.DataProcessScannerServiceImpl">
		<property name="dataProcessScannerDao" ref="dataProcessScannerDao"/>
		<property name="busyProductPromRuleDao" ref="busyProductPromRuleDao"/>
		<property name="busyPmInfoDao" ref="busyPmInfoDao"/>
		<property name="busyMerchantDao" ref="busyMerchantDao"/>
		<!-- property name="promRuleSoldNumResetService" ref="promRuleSoldNumResetService"/-->
	</bean>
	
	<bean id="shardingIndexDao" class="com.yhd.gps.schedule.dao.impl.ShardingIndexDaoImpl">
		<property name="dataSource" ref="mysql_gps_schedule_dataSource"/>
	</bean>
</beans>