<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
        "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="no" default-lazy-init="false" default-dependency-check="none">

	<bean id="memcacheFactory" class="com.yihaodian.common.ycache.memcache.IDCMemcacheProxyFactory" factory-method="configure" destroy-method="close">
		<constructor-arg value="file:${config_path}/ycache.xml"/>
	</bean>

	<bean id="dataCache" class="com.yihaodian.common.ycache.memcache.IDCMemcacheProxyFactory" factory-method="getClient" depends-on="memcacheFactory">
		<constructor-arg value="busystock"/>
	</bean>

	<bean id="idcCacheProxy" class="com.yihaodian.common.ycache.memcache.IDCMemcacheProxyFactory" factory-method="getClient" depends-on="memcacheFactory">
		<constructor-arg value="busystock"/>
	</bean>

	<bean id="busyDataCache" class="com.yhd.gps.schedule.common.BusyDataCache">
		<property name="dataCache" ref="dataCache"/>
		<property name="idcCacheProxy" ref="idcCacheProxy"/>
	</bean>

</beans>