<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>gps-schedule</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:com/yhd/gps/schedule/config/spring/applicationContext-gps-schedule-deploy.xml
        </param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Hessian</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:com/yhd/gps/schedule/config/spring/applicationContext-gps-schedule-hedwig.xml
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hessian</servlet-name>
		<url-pattern>/hessian/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getCheckInfo</servlet-name>
		<servlet-class>com.yihaodian.healthcheck.HealthCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCheckInfo</servlet-name>
		<url-pattern>/getCheckInfo.hck</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error_404.html</location>
	</error-page>
	
	<servlet>
		<servlet-name>ShardingManageServlet</servlet-name>
		<servlet-class>com.yhd.gps.schedule.action.ShardingManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShardingManageServlet</servlet-name>
		<url-pattern>/admin/sharding</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScannerManageServlet</servlet-name>
		<servlet-class>com.yhd.gps.schedule.action.ScannerManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScannerManageServlet</servlet-name>
		<url-pattern>/admin/scanner</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScheduleManageServlet</servlet-name>
		<servlet-class>com.yhd.gps.schedule.action.ScheduleManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleManageServlet</servlet-name>
		<url-pattern>/admin/manage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompensateServlet</servlet-name>
		<servlet-class>com.yhd.gps.schedule.action.CompensateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompensateServlet</servlet-name>
		<url-pattern>/admin/compensate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RuleManageServlet</servlet-name>
		<servlet-class>com.yhd.gps.schedule.action.RuleManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RuleManageServlet</servlet-name>
		<url-pattern>/admin/ruleManage</url-pattern>
	</servlet-mapping>
</web-app>